@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #001524;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Akaya Kanadaka;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.password{
border: 3px solid #000;
border-radius: 5px;
height: 50px;
line-height: normal;
color: white;
display: inline;
box-sizing: border-box;
user-select: auto;
font-size: 20px;
padding: 0 6px;
width: 350px;
margin: 10px;
padding-left: 12px;
margin-right: 140px;
:focus{
    border: 3px solid #5551ff;
}
}


/* CSS */
.button-21 {
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: 10px;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


.head{
  background-color: #071952;
  height: 80px;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  
}

.foot{
  background-color: #4F709C;
  color: #000;
  padding: 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#number, #character{
  margin-left: 85px;
}